.app-header {
  background-color: $color-white;
  font-size: 1.6rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid $color-grey-light-2;

  &__container {
    display: flex;
    align-items: center;
    padding: 1.6rem 0;
  }

  &__logo {
    height: 2.4rem;
    margin-right: auto;
    transform: translateY(-1px)
  }
}