.link-table {
  &__header {
    font-weight: 600;
    padding: 1.2rem;
    border-bottom: 1px solid $color-grey-light-2;
    display: flex;
  }

  &__list {
    list-style: none;
  }

  &__item {
    font-size: 1.2rem;
    padding: 1.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;

    &:nth-child(even) {
      background-color: $color-grey-light-2;
    }
  }

  &__slink,
  &__h-slink {
    flex: 0 1 20%;
  }

  &__tlink,
  &__h-tlink {
    flex: 1 1 auto;
  }

  &__clicks,
  &__h-clicks {
    flex: 0 1 10%;
  }

  &__date,
  &__h-date {
    flex: 0 1 10%;
    align-items: end;
  }
}