// COLOURS
$color-primary: #e21838;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #fcfcfc;
$color-grey-light-2: #dcdbdb;

// SUPLEMENTARY COLOUR
$color-blue: #0C56BC;


// FONTS
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

// GRID
$gutter-horizontal: 4rem;